{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-unused-vars": 0
  }
}
